.AddNewStudent__header {
  margin-left: 10px;
  width: fit-content;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.container {
  /* border: 2px solid red; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.inputField_div {
  margin-top: 20px;
  margin-bottom: 40px;
}

.table_div {
}
