.ClassInside__headerContainer
{
    display: flex;
}
.ClassInside__headerGrade
{
    margin-left: 10px;
    width: fit-content;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.ClassInside__headerSlash
{
    margin-left: 10px;
    width: fit-content;
    padding: 10px 0px 10px 0px; 
    margin-bottom: 20px;
}

.ClassInside__headerClass
{
    margin-left: 10px;
    width: fit-content;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.ClassInside__bodyContainer
{
    display: flex;
    flex-direction: column;
}

.mainDetails
{
    /* border: 2px solid red; */
    padding: 30px;
    
    /* box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.studentDetails
{

   padding: 30px;
    
}