.EditDetails__headerContainer {
  display: flex;
}
.EditDetails__headerGrade {
  margin-left: 10px;
  width: fit-content;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.EditDetails__headerSlash {
  margin-left: 10px;
  width: fit-content;
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
}

.EditDetails__headerClass {
  margin-left: 10px;
  width: fit-content;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

input {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.6);
  height: 25px;
  padding-left: 10px;
  width: 250px;
  font-weight: 800;
}
