.Home__header
{
    margin-left: 10px;
    width: fit-content;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.HomeBody
{   
display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 30px;
  /* border: 2px solid white; */
  justify-items: center;
  
}

