*
{
  margin: 0;
}

.App
{
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  min-height: 800px;
  background-color: #1c1f25;
  color: white;
  
  
}

.App__bodyContainer
{
  display: flex;
  height: 94vh;
}

.App__header
{
  /* border: 2px solid black; */
  height: 40px;
  background-color: #282b34;
  border-bottom: 1px solid #1c1f25;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.App__sideBar
{
  /* border: 2px solid yellow; */
  flex: 0.1;
  min-width: 200px;
  background-color: #282b34;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.App__body
{
  /* border: 2px solid red; */
  flex: 0.875;
  overflow-y: auto;
  padding: 20px;
}