*
{
  margin: 0;
}

.App
{
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.App__bodyContainer
{
  display: flex;
  height: ;
}

.App__header
{
  border: 2px solid black;
  height: 60px;
}

.App__sideBar
{
  border: 2px solid yellow;
  flex: 0.125;
  min-width: 200px;
}

.App__body
{
  border: 2px solid red;
  flex: 0.875;
  overflow-y: auto;
}